<% var page = 'advisors' %>

<html>
  <head>
    <% include ../shared/_header %>
    <script src="/scripts/check_forms.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/advisors.css">
  </head>
     
  <body>

    <% include ../shared/_navbar %>


    <div class="container-fluid" style="padding-top: 20px;">
      <div class="row">
        <div class="col-md-4"> 
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Update Advisor Information</h3>
            </div>
            <div class="panel-body">
              <form method="POST" name="advisorForm" action="/advisor/<%= advisor.id %>" onSubmit="return checkAdvisorForm()">
                <div class="form-group">
                  
                  <input type="hidden" name="_method" id="requestType" value="PUT" />
                  
                  <font size="1" style="color:red; position:relative; top: -10px;">* is required</font><br>
                  
                  <label for="ex1">First Name:<span class="form-error" id="firstNameError"> * </span></label>
                  <input type="text" class="form-control" name="firstName" id="firstName" value="<%= advisor.get('firstName') %>">
                  <br>

                  <label for="ex1">Last Name:<span class="form-error" id="lastNameError"> * </span></label>
                  <input type="text" class="form-control" name="lastName" id="lastName" value="<%= advisor.get('lastName') %>">
                  <br>

                  <label for="ex1">E-mail:<span class="form-error" id="emailError"> * </span></label>
                  <input type="text" class="form-control" name="email" id="email" value="<%= advisor.get('email') %>">
                  <br>

                  <div style="display: table; margin: 0 auto;">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </body>
</html>