<div ng-controller="IndexController" scroll>
    <div ng-hide="globaluser">
        <div class="list">
        <label class="item item-input" id="yjcbar">
            <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
            <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
            </div>            
        </label>
        </div>

        <div class="list list-inset item-text-wrap" style="height:90%;">
            <center>
                <img src="/imags/start.jpg" id="slide" style="width:90%; height:70%;"/>
            </center>
            <button class="button button-block" style="background-color: #F7652C; color: #ffffff;" ng-click="gotoLogin()">Click to Login</button>
        </div>

    </div>
    <div ng-show="globaluser">
    <div class="list" >
        <label class="item item-input" id="yjcbar">
            <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
            <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
            </div>
        </label>
    </div>



    <div class="button-block button-clear refresh" ng-show="iconstatus"><i class="icon iconhide super-refreshing"></i></div>

    <div ng-show="newmessage">
        <div class="card" style="box-shadow: 0 1px 3px #33CC33;">
            <super-navigate class="item" location="home#show" ng-click="clearpushmessage()" data-params-id="{{pushid}}">
                <div class="item item-text-wrap">
                    <h2 ng-bind="pushtitle"></h2>
                    <p ng-bind="pushmessage"></p>
                    <p>Click for details</p>
                </div>
            </super-navigate>
        </div>
    </div>

    <div class="list list-inset top-list">
    
      <label class="item item-input search-bar">
        <i class="icon super-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
      </label>
      <label class="item item-select filter-type">
          <select id="select-filter"ng-init="filter=options[1]; interested(filter);" ng-change="interested(filter)"ng-model="filter" ng-options="opt as opt for opt in options">
          </select>
      </label>
    </div>



    <div class="main-content">

    <div class="repeatcard" ng-repeat = "job in jobs | filter: filterFunction | filter: searchText">
    <div class="card" ng-class-odd="'odd'" ng-class-even="'even'" >
        <super-navigate class="item" location="home#show" data-params-id="{{ job.id }}" ng-class-odd="'odd'" ng-class-even="'even'">  
                <h2 ng-if="!((job.get('jobTitle') == undefined) || (job.get('jobTitle') == null) || (job.get('jobTitle') == ''))">{{job.get('jobTitle')}}</h2>
                <p ng-if="!((job.get('company') == undefined) || (job.get('company') == null) || (job.get('company') == ''))">Company: {{job.get('company')}}</p>
                <p ng-if="!((job.get('salary') == undefined) || (job.get('salary') == null) || (job.get('salary') == ''))">Salary: {{job.get('salary')}}</p>
                <p ng-if="!((job.get('city') == undefined) || (job.get('city') == null) || (job.get('city') == ''))">Location: {{job.get('city')}}</p>
                <p ng-if="!((job.get('fullTime') == undefined) || (job.get('fullTime') == null) || (job.get('fullTime') == ''))">Type: {{job.get('fullTime')}}</p>

        </super-navigate>
        <button id="contact-btn" class="item item-icon-left item-text-wrap assertive" ng-click="showInterest(job)" ng-class-odd="'odd'" ng-class-even="'even'">
            <i class="icon super-email"></i>
            <span>Contact advisor about </span><span ng-bind="job.get('jobTitle')"></span>
        </button>
    </div>
    </div>
</div>
</div>
</div>