<div ng-controller="IndexController">
    <div ng-hide="globaluser">
        <div class="list" >
        <label class="item item-input" id="yjcbar">
            <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
            <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
            </div>            
        </label>
    </div>
        <h1>Please Login</h1>
    </div>
    <div ng-show="globaluser">
    <div class="list" >
        <label class="item item-input" id="yjcbar">
            <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
            <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
            </div>

            <label class="item item-select filter-type ion-search">
                <select ng-change="interested(filter)"ng-model="filter" ng-options="opt as opt for opt in options" ng-init="filter = options[1]">
                </select>
            </label>

            
        </label>
    </div>
   
    <div class="indexCard" ng-init="interested('Match Jobs')">
    <div class="repeatcard" ng-repeat = "job in jobs | filter: filterFunction">
    <div class="card" ng-class-odd="'odd'" ng-class-even="'even'" >
        <super-navigate class="item" location="home#show" data-params-id="{{ job.id }}" ng-class-odd="'odd'" ng-class-even="'even'">  
                <h2 ng-if="!((job.get('jobTitle') == undefined) || (job.get('jobTitle') == null) || (job.get('jobTitle') == ''))">{{job.get('jobTitle')}}</h2>
                <p ng-if="!((job.get('company') == undefined) || (job.get('company') == null) || (job.get('company') == ''))">Company: {{job.get('company')}}</p>
                <p ng-if="!((job.get('salary') == undefined) || (job.get('salary') == null) || (job.get('salary') == ''))">Salary: {{job.get('salary')}}</p>
                <p ng-if="!((job.get('city') == undefined) || (job.get('city') == null) || (job.get('city') == ''))">Location: {{job.get('city')}}</p>
                <p ng-if="!((job.get('fullTime') == undefined) || (job.get('fullTime') == null) || (job.get('fullTime') == ''))">Type: {{job.get('fullTime')}}</p>

        </super-navigate>
        <button id="contact-btn" class="item item-icon-left assertive" ng-click="showInterest(job)" ng-class-odd="'odd'" ng-class-even="'even'">
            <i class="icon super-email"></i>
            <span>Contact about </span><span ng-bind="job.get('company')"></span>
        </button>
    </div>
</div>
</div>
</div>
</div>