<div ng-controller="IndexController">
  
    <div class="list" >
        <label class="item item-input" id="yjcbar">
            <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
            <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
            </div>
        </label>
    </div>

    <div class="card" ng-repeat = "job in jobs">
        
      <div class="item">
        <h2>{{job.get('jobTitle')}}</h2>
        <p>Company: {{job.get('company')}}</p>
        <p>Salary: {{job.get('salary')}}</p>
        <p>Location: {{job.get('city')}}</p>
        <p>Type: {{job.get('fullTime')}}</p>
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon super-email"></i>
        Contact about {{job.get('company')}}
      </a>

    </div>

</div>