/**
 * account.css
 *
 * Styles for account module.
 *
 */


/* style for advisor drop down on profile page (index.html) */

.advisor-select {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.advisor-select select {
  direction: ltr;
  width: 100%;
  max-width: 100%;
}
