.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}


.error-input {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}


.odd {
  background-color: #F0F0F0 !important;
}

.item-divider {
  background-color: #348F92;
  color: #ffffff;
}

.checkbox input:before, .checkbox .checkbox-icon:before {
  border-color: #F7652C;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #F7652C;
  border-color: #F7652C; }