#yjclogo {
    border-style: solid;
    border-color: #f58723;
    border-width: 2px;
    border-radius: 40%;
}

navigation-bar button
{
  background-image: url(/imags/yjclogo.jpg);
  background-size: 20px;
}

#yjcbar {
    background-color: #348F92;
    /*position: fixed;
    width: 100%;
    z-index: 9;
    margin-bottom: 100px;
    */
    padding-bottom: 0px;
}

#contact-btn {
  width: 100%;
  text-align: left;
}

.top-list {
  border-color: #348f92;
}

.search-bar {
  border-color: #348f92;
}

.filter-type {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  background: transparent;
  color:#348F92;
  border-color: #348f92;
}

.filter-type select {
  direction: ltr;
  width: 100%;
  max-width: 100%;
  background: transparent;
  color:#348F92;
}

.refresh{
    height:30px;
    position:center;
    text-align: center;
    padding-bottom:10px;
}
.iconhide{
    background-size:15px;
}