#yjclogo {
    border-style: solid;
    border-color: #f58723;
    border-width: 2px;
    border-radius: 40%;
}

navigation-bar button
{
  background-image: url(/imags/yjclogo.jpg);
  background-size: 20px;
}

#yjcbar {
    background-color: #348F92;
}

#contact-btn {
  width: 100%;
  text-align: left;
}

.filter-type {
	position: relative;
	left: 20px;
	padding-left: 30px;
	padding-right: 10px;
	background: transparent;
	color:#348F92;

}

.filter-type select {
  direction: ltr;
  width: 100%;
  max-width: 100%;
  background: transparent;

}