/** 
 * navbar style overrides
 */

.navbar {
  border-bottom: 1px solid #adafb3;
  background-color:  #3c948b; 
  color: #337ab7;
}

.green {
  color: #FFFFFF;
  background: none;
  font-weight: 600;
  font-size: 20px;
}


.dropdown-menu {
  background-color: #3c948b;
}

.dropdown-menu > li > a {
  color: #FFFFFF; 
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #F7652C;
  color: #FFFFFF;
}

.dropdown-menu .divider {
  background-color: #adafb3;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-nav > .active > a {
  background-color: #F7652C;
  color: #FFFFFF;
}

.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
   background-color: #F7652C;
  color: #FFFFFF;
}

.navbar .navbar-nav > li > a {
 color: #FFFFFF;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: #F7652C;
 color: #FFFFFF;
}

.navbar-default .navbar-text {
  color: #337ab7;
}

.navbar-default .navbar-link {
  text-decoration: underline;
  color: #23527c;
}

.navbar-default .navbar-link:hover,
.navbar-default .navbar-link:focus {
  text-deocration: underline;
  color: #337ab7;
}
