/* Sortable tables */
table.tablesorter thead {
    cursor: pointer;
}

th.headerSortUp { 
  background-image: url(/imgs/small_asc.gif); 
} 
/*tr:hover{
background-color:blue
}
*/
/*td:hover{
background-color:blue
}
*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#FFEECA;
}
th.headerSortDown { 
  background-image: url(/imgs/small_desc.gif); 
} 

th{
  background-image: url(/imgs/small.gif); 
  cursor: pointer; 
  font-weight: bold; 
  background-repeat: no-repeat; 
  background-position: center right; 
} 

.table th {
  width: 300px;
  font-size:10pt;
  white-space: nowrap;
}

.table td{
  width: 300px;
  font-size:10pt;
  word-wrap: break-word;
}


table a {
  cursor: pointer;
}