/* Sortable tables */
/*thead { display:block; margin:0px; cell-spacing:0px; left:0px;}
tbody { display:block; overflow-x:hidden; height:500px; }*/
table.tablesorter thead {
    cursor: pointer;
}

th.headerSortUp { 
  background-image: url(/imgs/small_asc.gif); */
} 

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#FFEECA;
}
th.headerSortDown { 
  background-image: url(/imgs/small_desc.gif); 
} 

th{
  background-image: url(/imgs/small.gif); 
  cursor: pointer; 
  font-weight: bold; 
  background-repeat: no-repeat; 
  background-position: center right; 
  white-space: nowrap;
} 

.table th {
  /*width: 300px;*/
  font-size:10pt;
  white-space: nowrap;
   word-wrap: break-word;
}

.table td{
  /*width: 300px;*/
  font-size:10pt;
  word-wrap: break-word;
}


table a {
  cursor: pointer;
}

.selectt {
  background-color:#FFEECA;


}

.selected {
    background-color: #FAA353;
}




