<% var page = 'jobs' %>

<html>
  <head>
    <% include ../shared/_header %>
    <script src="/scripts/jquery-latest.js"></script> 
    <script src="/scripts/jquery.tablesorter.js"></script> 
    <link rel="stylesheet" href="/css/table.css">
 
  </head>
 
  <body>
  	<% include ../shared/_navbar %>
    <script>
      $(function () {
            var trInstance = $('#jobTable').find('tr');
            trInstance.click(function () {
                trInstance.removeClass('selected');
                trInstance.find('td').removeClass('selected');

                var instance = $(this);
                instance.addClass('selected');
                instance.find('td').addClass('selected');
            });
        });

    </script>

  	<div class="container-fluid">

      <h1>All Job Openings</h1>


      <div class="input-group stylish-input-group" style="float: left; margin-right: 30px; margin-bottom:20px">
        <input type="text" class="form-control" id="search" name="search" placeholder="Type to search" value="">
      </div>

      <% if (user && user['admin']){ %>
         <a style="top: 120px;left: 10px;"href="/jobs/new" class="btn btn-warning btn-md" role="button">Add new job</a>
         <a style="top: 120px; left: 10px;" id="delete-selected" class="btn btn-warning btn-md" role="button">Delete Selected</a>
      <% } %>


      <table id="jobTable"  class="table  table-bordered tablesorter table-striped table-hover">
        <thead style="display:block; margin:0px; cell-spacing:0px; left:0px;">
        <tr>
          <th style="min-width:50px"></th>
          <% if (user && user['admin']){ %>
            <th style="min-width:52px;max-width:52px"></th>
          <% } %>
  
          <th style="min-width:113px;max-width:113px">Created Date&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:130px;max-width:130px">IndustryTypes&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:94px;max-width:94px">Job Title&nbsp;&nbsp;&nbsp;</th>          
          <th style="min-width:130px;max-width:130px">Company&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:94px;max-width:94px">City</th>
          <th style="min-width:55px;max-width:55px">Zip</th>
          <th style="min-width:130px;max-width:130px">Address</th>
          
          <th style="min-width:86px;max-width:86px">Min. Age&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:86px;max-width:86px">Salary</th>
          <th style="min-width:86px;max-width:86px">Full/Part&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:86px;max-width:86px">Openings&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:110px;max-width:110px">Hours/week&nbsp;&nbsp;&nbsp;</th>
          
          <th style="min-width:144px;max-width:144px;">Education Require&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:110px;max-width:110px">Qualications&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:130px;max-width:130px">Driver's License&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:148px;max-width:148px">Background Check&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:89px;max-width:89px">Drug Test&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:110px;max-width:110px">Comment&nbsp;&nbsp;&nbsp;</th>

          <th style="min-width:120px;max-width:120px">Hiring Process&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:120px;max-width:120px">Contact Name&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:148px;max-width:148px">Contact Email&nbsp;&nbsp;&nbsp;</th>
          <th style="min-width:120px;max-width:120px">Contact Phone&nbsp;&nbsp;&nbsp;</th>
          <% if (user && user['admin']){ %>
            <th style="min-width:52px;max-width:52px"></th>
            <th style="min-width:46px;max-width:46px"></th>
            <th style="min-width:60px;max-width:60px"></th>
          <% } %>
        </tr>
        </thead>
        <tbody style="display:block; overflow-x:hidden; height:500px;">
        <% for(var i = 0; i < jobs.length; i++ ){ %>
          <% var job = jobs[i] %>
          <% include _job %>
        <% } %>
        </tbody>
      </table>
  	</div>
 	</body>

  <script>
  $(document).load(function() 
  { 
      $("#jobTable").tablesorter(); 
  }); 
  $(document).ready(function() 
  { 
      $("#jobTable").tablesorter( {sortList: [[0,0], [1,0]]} );
      var $rows = $('#jobTable > tbody > tr');
      $('#search').keyup(function() {
          var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
          
          $rows.show().filter(function() {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
          }).hide();
      }); 
      var ids = [];
      $('input[type=checkbox]').change(
        function(){
          if (this.checked) {
            ids.push(this.value);

          }
          else {
            var index = ids.indexOf(this.value);
            ids.splice(index, 1);
          }
        });
      $('#delete-selected').click(function() {
        if (ids.length == 0)
          alert("no jobs selected");
        else
        {
          var c = confirm("Are you sure you want to delete these selected jobs");
          if (c)
          {
            var Job = Parse.Object.extend('Job');
            var query = new Parse.Query(Job);
            query.containedIn("objectId", ids);
            query.find().then(function (results) {
              for (var i = 0; i < results.length; i++) {
                results[i].destroy({ wait : true});
              }
              location.reload(); 
            });
          }
        }
      });
  }); 



  </script>
</html>