<html>
  <head>
    <% include ../shared/header %>
  </head>
  <body>
  	<% include ../shared/navbar %>

  	<div class="container-fluid">
	  	<br><br>
	  	DISPLAY ALL JOBS HERE (and make it pretty)
	  	<br>

	  	<a href="/jobs/new">Add new job</a>
  	</div>
 	</body>
</html>