<% var page = 'jobs' %>

<html>
  <head>
    <% include ../shared/_header %>
    <script src="/scripts/check_submit.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jobs.css">
  </head>
     
  <body>

    <% include ../shared/_navbar %>


    <div class="container-fluid" style="padding-top: 20px;">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Job Opening</h3>
        </div>
        <div class="panel-body">
          <form method="POST" name="createform" action="/jobs" onSubmit="return TestDataCheck()">
            <div class="form-group">
              <div class="col-xs-12">

                <div class="row">
                  <div class="col-md-4"> 
                    
                    <font size="1" style="color:red; position:absolute; top: -20px;">* is required</font>
                    <label for="ex1">Employer Industry Types:<span style="color:red;"> *</span></label>
                    <select class="form-control" name="employerIndustryTypes" id="employerIndustryTypes">
                      <option>Automotive</option>
                      <option>Clerical/administrative</option>
                      <option>Healthcare</option>
                       <option>Child Care and Counseling</option>
                       <option>Food Service</option>
                       <option>Healthcare</opton>
                       <option>Hospitality</option>
                       <option>IT/Technical</option>
                       <option>Retail</option>
                         <option>Security</option>
                         <option>Odd-Job/Summer Job</option>
                    </select>
                    <br>

                    <label for="ex1">Company:<span style="color:red;"> *</span></label>
                    <input class="form-control" name="company" id="company" type="text" value="">
                    <br>

                    <label for="ex1">City:<span style="color:red;"> *</span></label>
                    <input class="form-control" name="city" id="city" type="text" value="">
                    <br>

                    <label for="ex1">Address:<span style="color:red;"> *</span></label>
                    <input class="form-control" name="address" id="address" type="text" value="">
                    <br>

                    <label for="ex1">Zip:<span style="color:red;"> *</span></label>
                    <input class="form-control" name="zipcode" id="zipcode" type="text" value="">
                    <br>

                     <label for="ex1">Contact Name:<span style="color:red;"> *</span></label>
                    <input class="form-control" id="contact" name="contact" type="text">
                    <br>

                    <label for="ex1">Contact Email:<span style="color:red;"> *</span></label>
                    <input class="form-control" id="email" name="email" type="text">
                    <br>

                    <label for="ex1">Contact Phone:<span style="color:red;"></span></label>
                    <input class="form-control" id="phone" name="phone" type="text">
                    <br>

                    <label for="ex1">Hiring Process:<span style="color:red;"></span></label>
                    <input class="form-control" id="hiringProcess" name="hiringProcess" type="text" value="">
                    <br>
                
              
                   
                  </div>
                  <div class="col-md-4"> 
                    <label for="ex1">Job Title:<span style="color:red;"> *</span></label>
                    <input class="form-control" name="jobTitle" id="jobTitle" type="text">
                    <br>

                    <label for="comment">Job Description:<span style="color:red;"></span></label>
                    <textarea class="form-control" rows="5" id="jobDescription" name="jobDescription"></textarea>
                    <br>

                    <label for="ex1">Full/Part Time:<span style="color:red;"> *</span></label>
                    <select class="form-control" name="fullTime" id="fullTime">
                       <option>Full-Time</option>
                       <option>Part-Time</option>
                     </select>
                    <br>
                    

                    <label for="ex1">Min. Age:<span style="color:red;"> *</span></label>
                    <select class="form-control" name="minAge">
                     <option>16</option>
                     <option>17</option>
                     <option>18</option>
                     <option>19</option>
                     <option>20</option>
                     <option>21</option>
                     <option>22</option>
                     <option>23</option>
                     <option>24</option>
                     <option>25</option>
                    </select>
                    <br>

                    <label for="ex1">Number of Openings:<span style="color:red;"></span></label>
                    <input class="form-control" name="numOpenings" id="numOpenings" type="text">
                    <br>

                    <label for="ex1">Hours/Week:<span style="color:red;"></span></label>
                    <input class="form-control" name="hoursPerWeek" id="hoursPerWeek" type="text">
                    <br>

                    
                    <label for="ex1">Salary:<span style="color:red;"></span></label>
                    <input class="form-control" name="salary" id="salary" type="text">
                    <br>
                    
                    
                
                    

                    <!-- <label for="ex1">Work Schedule:<span style="color:red;"></span></label>
                    <input class="form-control" name="workSchedule" id="workSchedule" type="text">
                    <br>
 -->
              
                  
                    <label for="ex1">Drug Test:<span style="color:red;"></span></label>
                 
                     <select class="form-control" name="drugTest">
                      <option>Yes</option>
                      <option>No</option>
            
                    </select>
                    <br>
                

                 
                   
                  </div>
                  
                  <div class="col-md-4"> 

                      <label for="ex1">Background Check:<span style="color:red;"></span></label>
                    <select class="form-control" name="backgroundCheck">
                      <option>Yes</option>
                      <option>No</option>
            
                    </select>

                    <br>

                   
                    <label for="ex1">Education Requirement:<span style="color:red;"></span></label>
                    <select class="form-control" name="educationRequirement" id="educationRequirement">
                     <option>GED</option>
                      <option>High School Diploma</option>
                      <option>Associate's Degree</option>
                      
                    </select>
                    <br>

                    <label for="qualification">Qualifications:<span style="color:red;"></span></label>
                  <textarea class="form-control" rows="5" id="qualifications" name="qualifications"></textarea>
                    <br>


                    <label for="ex1">Driver's License:<span style="color:red;"></span></label>
                    <select class="form-control" name="driver">
                      <option>Yes</option>
                      <option>No</option>
            
                    </select>
                    <br>



                    <label for="comment">Comment:<span style="color:red;"></span></label>
                    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    <br>
                    <br>


                    <div style="padding-left: 100px;position: absolute; top: 570px; color:red;">
                     <font size="1" id="check">
                     </font>
                  </div>

                  
                    <div style="display: table; margin: 0 auto;">
                      <button type="submit" class="btn btn-primary">Create Job</button>
                    </div>
                  </div>

                   
                </div>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </body>
</html>