<% var page = 'jobs' %>

<html>
  <head>
    <% include ../shared/_header %>
    <script src="/scripts/check_forms.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jobs.css">
  </head>
     
  <body>

    <% include ../shared/_navbar %>


    <div class="container-fluid" style="padding-top: 20px;">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Job Opening</h3>
        </div>
        <div class="panel-body">
          <form method="POST" name="jobform" action="/jobs" onSubmit="return checkJobForm() ">
            <div class="form-group">
              <div class="col-xs-12">

                <div class="row">
                  <div class="col-md-4"> 
                    
                    <font size="1" style="color:red; position:absolute; top: -20px;">* is required</font>
                    <label for="ex1">
                      Employer Industry Types:<span class="form-error" id="employerIndustryTypesError"> *</span>
                    </label>
                    <select class="form-control" name="employerIndustryTypes" id="employerIndustryTypes">
                      <option>Automotive</option>
                      <option>Clerical/administrative</option>
                      <option>Healthcare</option>
                      <option>Child Care and Counseling</option>
                      <option>Food Service</option>
                      <option>Healthcare</opton>
                      <option>Hospitality</option>
                      <option>IT/Technical</option>
                      <option>Retail</option>
                      <option>Security</option>
                      <option>Odd-Job/Summer Job</option>
                    </select>
                    <br>

                    <label for="ex1">
                      Company:<span class="form-error" id="companyError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="company" id="company" value="">
                    <br>

                    <label for="ex1">
                      City:<span class="form-error" id="cityError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="city" id="city" value="">
                    <br>

                    <label for="ex1">
                      Address:<span class="form-error" id="addressError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="address" id="address" value="">
                    <br>

                    <label for="ex1">
                      Zip:<span class="form-error" id="zipcodeError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="zipcode" id="zipcode" value="">
                    <br>

                    <label for="ex1">
                      Contact Name:<span class="form-error" id="contactError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="contact" id="contact">
                    <br>

                    <label for="ex1">
                      Contact Email:<span class="form-error" id="emailError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="email" id="email">
                    <br>

                    <label for="ex1">
                      Contact Phone:<span class="form-error" id="phoneError"></span>
                    </label>
                    <input type="text" class="form-control" name="phone" id="phone">
                    <br>

                    <label for="ex1">
                      Hiring Process:<span class="form-error" id="hiringProcessError"></span>
                    </label>
                    <input type="text" class="form-control" name="hiringProcess" id="hiringProcess" value="">
                    <br>
                
              
                   
                  </div>
                  <div class="col-md-4"> 
                    <label for="ex1">
                      Job Title:<span class="form-error" id="jobTitleError"> * </span>
                    </label>
                    <input type="text" class="form-control" name="jobTitle" id="jobTitle">
                    <br>

                    <label for="comment">
                      Job Description:<span class="form-error" id="jobDescriptionError"></span>
                    </label>
                    <textarea class="form-control" rows="5" name="jobDescription" id="jobDescription"></textarea>
                    <br>

                    <label for="ex1">
                      Full/Part Time:<span class="form-error" id="fullTimeError"> * </span>
                    </label>
                    <select class="form-control" name="fullTime" id="fullTime">
                       <option>Full-Time</option>
                       <option>Part-Time</option>
                     </select>
                    <br>
                    

                    <label for="ex1">
                      Min. Age:<span class="form-error" id="minAgeError"> * </span>
                    </label>
                    <select class="form-control" name="minAge" id="minAge">
                     <option>16</option>
                     <option>17</option>
                     <option>18</option>
                     <option>19</option>
                     <option>20</option>
                     <option>21</option>
                     <option>22</option>
                     <option>23</option>
                     <option>24</option>
                     <option>25</option>
                    </select>
                    <br>

                    <label for="ex1">
                      Number of Openings:<span class="form-error" id="numOpeningsError"></span>
                    </label>
                    <input type="text" class="form-control" name="numOpenings" id="numOpenings">
                    <br>

                    <label for="ex1">
                      Hours/Week:<span class="form-error" id="hoursPerWeekError"></span>
                    </label>
                    <input type="text" class="form-control" name="hoursPerWeek" id="hoursPerWeek">
                    <br>

                    
                    <label for="ex1">
                      Salary:<span class="form-error" id="salaryError"></span>
                    </label>
                    <input type="text" class="form-control" name="salary" id="salary">
                    <br>
              
                  
                    <label for="ex1">
                      Drug Test:<span class="form-error" id="drugTestError"></span>
                    </label>
                    <select class="form-control" name="drugTest" id="drugTest">
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                    <br>
                  </div>
                  
                  <div class="col-md-4"> 

                    <label for="ex1">
                      Background Check:<span class="form-error" id="backgroundCheckError"></span>
                    </label>
                    <select class="form-control" name="backgroundCheck" id="backgroundCheck">
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                    <br>

                   
                    <label for="ex1">
                      Education Requirement:<span class="form-error" id="educationRequirementError"></span>
                    </label>
                    <select class="form-control" name="educationRequirement" id="educationRequirement">
                      <option>GED</option>
                      <option>High School Diploma</option>
                      <option>Associate's Degree</option>
                    </select>
                    <br>

                    <label for="qualification">
                      Qualifications:<span class="form-error" id="qualificationsError"></span>
                    </label>
                    <textarea class="form-control" rows="5" name="qualifications" id="qualifications"></textarea>
                    <br>


                    <label for="ex1">
                      Driver's License:<span class="form-error" id="driversLicenseError"></span>
                    </label>
                    <select class="form-control" name="driver" id="driversLicense">
                      <option>Yes</option>
                      <option>No</option>
            
                    </select>
                    <br>

                    
                    <label for="comment">
                      Comment:<span class="form-error" id="commentError"></span>
                    </label>
                    <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
                    <br>
                    <br>

                  
                    <div style="display: table; margin: 0 auto;">
                      <button type="submit" class="btn btn-primary">Create Job</button>
                    </div>
                  </div>

                   
                </div>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </body>
</html>