<html>
  <head>
    <% include ../shared/_header %>
  </head>
  <body  style="background-color:  #3c948b;" >
    <div class="container">
      <form class="form-signin" method="post" action="/login">
        <div align="center"  >
        <img style="border:2px solid #F7652C;  border-radius: 40%;" src="/imgs/yjclogo.jpg" alt="Smiley face" height="60" width="70">
        </div>
        
        <br>
        <h2 class="form-signin-heading">Youth Job Center</h2>
        <br>
        
        <div class="error" style="color:#F19D58">  
         <%= notice %>
        </div>  
        <label for="inputUser" class="sr-only">Username</label>
        <input type="text" id="inputUser" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
          <style>
        .btn:hover
        {
          background-color:#f24806 !important;
        }
        </style>
        <button class="but btn btn-lg btn-block" style="background-color:#F7652C; color:white;" type="submit" >Sign in</button>
      
      
      </form>
    </div>
  </body>
</html>