<!-- Parse -->
<script src="https://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
<script type="text/javascript">
  Parse.initialize("<%= parseApplicationId %>", "<%= parseJavascriptKey %>");
</script>

<!-- jQuery -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- Twitter Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Custom CSS --> 
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/signin.css">

<title>Youth Job Center</title>
<link rel="shortcut icon" type="image/ico" href="/imgs/favicon.ico" />