navigation-bar {
  background-color: #348f92;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button {
  color: #ffffff;
  font-weight: 300;
  margin-left: 6px;
  margin-right: 6px;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 18;
}

navigation-bar back-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
}

tab-bar-item#account {
  background-image: url(/icons/cog.svg);
  background-size: 100;
}


tab-bar-item#home {
  background-image: url(/icons/search.svg);
  background-size: 100;
}

tab-bar-item#help {
  background-image: url(/icons/help.png);
  background-size: 100;
}

