
<div id="job">
  <form method="POST" action="/createJob">
    <div class="home">
      <h2>CREATE A <strong>Job</h2>
      <input type="text" name="text1" placeholder="JobTitle" maxlength="65" />
      <div class="buttons">
        <button>CREATE Job</button>
        <div style="display:none" class="error"></div>
      </div>
    </div>
  </form>
  <form method="GET" action="/logout">
      <div class="buttons">
        <button>Lougut</button>
        <div style="display:none" class="error"></div>
      </div>
    </div>
  </form>
</div>
