<div ng-controller="HelpController">
  <!-- help tab view -->
  <label class="item item-input" id="yjcbar"><!-- yjc nav bar -->
    <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the yjc logo -->
    <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
      Youth Job Center
    </div>
  </label><!-- end yjc nav bar -->
  <div class="padding"><!-- padding div contains help slide show --> 
    <center><div id="img-containter" style="position:relative; display: inline-block; text-align: center;"><!-- center on screen -->
      <div style="height: 50px; width: 90%; position: relative; vertical-align: middle; line-height: 50px; font-size: 150%;">
        <span style="position:relative; right:20%;">
        <img height="25x" width="30px" style="position:relative; top:5px;" ng-click="slideLeft()" src="/icons/left.svg">Prev</span><!-- slide show slide left -->
        <span style="position:relative; left: 30%;">
        Next<img height="25px" width="30px" style="position:relative; top:5px;" ng-click="slideRight()" src="/icons/right.svg"></span><!-- slide show slide right -->
      </div>
      <img src="/imags/Welcome.jpg" id="slide" width=90% height=90%/><!-- the help image slide -->
    </div></center><!-- end cneter and img-containter -->
  </div><!-- end class padding -->
</div>