<div ng-controller="HelpController">

  <div class="list" >
    <label class="item item-input" id="yjcbar">
      <img id="yjclogo" src="/imags/yjclogo.jpg" onclick="location.reload()" width="50px"; height="40px"> <!-- Add the refresh function when click the WildCat-->
      <div style="margin-left:20px; color:#ffffff; font-weight:bold; font-size:120%">
                Youth Job Center
      </div>
    </label>
  </div>
  <div class="padding">
      <center><button class="button-stable" ng-click="slideit()">Next Slide</button></center>
  		<img src="/imags/Welcome.jpg" id="slide" width=300 height=400 />
  </div>
</div>