<div ng-controller="IndexController">
<!-- edit profile page --> 
  <super-navbar>
    <super-navbar-title>
      Edit
    </super-navbar-title>
  </super-navbar>

  <div class="padding"><!-- holds the form used to edit the page -->
  	<form>
  		<ul class="list">
  			<div class="item item-divider"><!-- about me section divider -->
          	About Me
      	</div>
        <label id="email-lbl" class="item item-input"><!-- email input -->
          <input id="email" type="text" placeholder="Email" ng-model="Account['email']">
        </label><!-- end email input -->
      	
        <label id="firstname-lbl" class="item item-input"><!-- first name input -->
      		<input id="firstname" type="text" placeholder="First Name" ng-model="Account['firstName']">
    		</label><!-- end first name input -->
    		
        <label id="lastname-lbl" class="item item-input"><!-- last name input -->
      		<input id="lastname" type="text" placeholder="Last Name" ng-model="Account['lastName']">
    		</label><!-- end last name input -->
    		
        <label id="phonenumber-lbl" class="item item-input">
      		<input id="phonenumber" type="tel" placeholder="Phone Number" ng-model="Account['phoneNumber']">
    		</label>

    		<label id="zipcode-lbl" class="item item-input">
      		<input id="zipcode" type="tel" placeholder="Zipcode" ng-model="Account['zipcode']">
    		</label>

        <div class="item item-divider">
          Password
        </div>
        <label id="password-lbl" class="item item-input">
          <input id="password" type="password" placeholder="Click to Change Password" ng-model="Account['password1']">
        </label>
        <div class="item item-divider">
          Confirm Password
        </div>
        <label id="password2-lbl" class="item item-input">
          <input id="password2" type="password" placeholder="Click to Confirm New Password" ng-model="Account['password2']">
        </label>

        <div class="item item-divider">
          Date of Birth
        </div>
        <label id="dateofbirth-lbl" class="item item-input">
          <input id="dateofbirth" type="date" placeholder="Date Of Birth">
        </label>

        <div class="item item-divider"><!-- start search distance -->
          Max Job Search Distance
        </div>
        <div id="distance">
          <label class="item item-radio">
              <input id="d20" type="radio" name="distance" checked="checked" value="20">
              <div class="item-content">
                20 miles
              </div>
              <i class="radio-icon super-checkmark"></i>
          </label>
          <label class="item item-radio">
              <input id="d15" type="radio" name="distance" value="15">
              <div class="item-content">
                15 miles
              </div>
              <i class="radio-icon super-checkmark"></i>
          </label>
          <label class="item item-radio">
              <input id="d10" type="radio" name="distance" value="10">
              <div class="item-content">
                10 miles
              </div>
              <i class="radio-icon super-checkmark"></i>
          </label>
        </div><!-- end start search distance --> 
        
  		  <div class="item item-divider"><!-- start job industries of interest -->
          	Industries 
      	</div>
        <div id="industries">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="all" type="checkbox" ng-click="selectAll()">
              </label>
              All 
          </li>
        	<li class="item item-checkbox">
            	<label class="checkbox">
              		<input id="automotive" type="checkbox">
            	</label>
          		Automotive
        	</li>
         	<li class="item item-checkbox">
            	<label class="checkbox">
              		<input id = "clericaladministrative" type="checkbox">
            	</label>
          		Clerical/Administrative
        	</li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="childcareandcounseling" type="checkbox">
              </label>
            Child Care and Counseling
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="foodservice" type="checkbox">
              </label>
            Food Service
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="healthcare" type="checkbox">
              </label>
            Healthcare
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="hospitality" type="checkbox">
              </label>
            Hospitality
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="ittechnical" type="checkbox">
              </label>
            IT/Technical
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="retail" type="checkbox">
              </label>
            Retail
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="security" type="checkbox">
              </label>
            Security
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="oddjobsummerjob" type="checkbox">
              </label>
            Odd-Job/Summer Job
          </li>
        </div><!-- end job industries -->

  		  <div class="item item-divider"><!-- start higher education -->
          	Education 
      	</div>
        <div id="education"> 
          <li class="item item-checkbox">
              <label class="checkbox">
                <input id="gedhighschooldiploma" type="checkbox">
              </label>
            GED/High School Diploma
          </li>
        	<li class="item item-checkbox">
            	<label class="checkbox">
              	<input id="associatesdegree" type="checkbox">
            	</label>
              Associate's Degree
        	</li>
        	<li class="item item-checkbox">
            	<label class="checkbox">
              		<input id="bachelorsdegree" type="checkbox">
            	</label>
          	Bachelor's Degree
        	</li>
        </div><!-- end higher education -->

        <div class= "item item-divider"><!-- start crminal history section -->
            Criminal History
        </div>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input id="hascriminal" type="checkbox">
            </label>
          Yes
        </li><!-- end crminal history section -->

      	<div class= "item item-divider"><!-- start times available section -->
          	Times Available
      	</div>
        <div id="timeavailable">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="1stshift700am300pm" type="checkbox">
              </label>
            1st Shift (7:00am - 3:00pm)
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="2ndshift200pm1000pm" type="checkbox">
              </label>
            2nd Shift (2:00pm-10:00pm)
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="3rdshift1100pm700am" type="checkbox">
              </label>
            3rd Shift (11:00pm - 7:00am)
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input id="weekends" type="checkbox">
              </label>
            Weekends
          </li>
         	<li class="item item-checkbox">
            	<label class="checkbox">
              		<input id="fulltime" type="checkbox">
            	</label>
          	Full-Time
        	</li>

        	<li class="item item-checkbox">
            	<label class="checkbox">
              	<input id="parttime" type="checkbox">
            	</label>
          	Part-Time
        	</li>
        </div><!-- end times available section -->

        <div class= "item item-divider"><!-- start career advsor section -->
          Career Advisor
        </div>
        <label id="advisor-select-lbl" class="item item-select advisor-select">
          <select ng-init="Account['advisorFullName']=advisorFullName[0]" ng-model="Account['advisorFullName']"
              ng-options="opt as opt for opt in advisorFullName">
          </select>
        </label><!-- end career advisor section -->
    	</ul>
      <!-- submit form button -->
      <button class="button button-block" style="background-color: #F7652C; color: #ffffff;" ng-click="checkForm()">Save</button>
  	</form>
  </div><!-- end class padding -->
</div>
