<div ng-controller="ProfileController">
  <super-navbar>
    <super-navbar-title>
      My Profile
    </super-navbar-title>
    <super-navbar-button side="right" location="Account#index">Edit</super-navbar-button>
  </super-navbar>
  <div class="padding">
  	<ul>
    	<div class="card">
  			<div class="item item-text-wrap">
    				<h2>
              <span ng-bind="Account['firstName']"></span> <span ng-bind="Account['lastName']"></span>
    				</h2>
    				<p><b>Date of Birth:</b> <span ng-bind="Account['dateOfBirthStr']"></span>
    				</p>
            <p><b>Location:</b> <span ng-bind="Account['zipcode']"></span>
            </p>
    				<p><b>Phone Number:</b> <span ng-bind="Account['phoneNumber']"></span>
    				</p>
    				<p> <b>Email:</b> <span ng-bind="Account['email']"></span>
    				</p>
  			</div>
		</div>
		<div class="card">
  			<div class="item item-text-wrap">
  				<div class="item item-divider">
        		<center>Interests</center>
    			</div>
    			<li class="item" ng-repeat="i in Account['interests']">
    		    <span ng-bind="i"></span>
    			</li>
    		</div>
    	</div>
    	<div class="card">
  			<div class="item item-text-wrap">
  				<div class="item item-divider">
        		<center>Skills</center>
    			</div>
    			<li class="item" ng-repeat="s in Account['skills']">
            <span ng-bind="s"></span>
    			</li>
    		</div>
    	</div>
    	<div class="card">
  			<div class="item item-text-wrap">
  				<div class="item item-divider">
        		<center>Education</center>
    			</div>
    			<li class="item" ng-repeat="e in Account['education']">
            <span ng-bind="e"></span>
    			</li>
    		</div>
    	</div>
    	<div class="card">
  			<div class="item item-text-wrap">
  				<div class="item item-divider">
        		<center>Times Available</center>
    			</div>
          <li class="item" ng-repeat="t in Account['timeAvailable']">
            <span ng-bind="t"></span>
          </li>
    		</div>
    	</div>
      <div class="card">
        <div class="item item-text-wrap">
          <div class="item item-divider">
            <center>Career Advisor</center>
          </div>
          <li class="item">
            <span ng-bind="Account['advisorEmail']"></span>
          </li>
        </div>
      </div>

	</ul>
</div>
</div>